#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

[data-view="sofas"] [data-link="sofas"],
[data-view="tables"] [data-link="tables"],
[data-view="mattresses"] [data-link="mattresses"] {
  text-decoration: underline !important;
}

.navbar-nav img,
.homepage img.header-img {
  display: none;
}

.homepage > .container:first-child {
  background-color: rgb(255, 252, 240);
}

.about img {
  object-fit: cover;
}

.about.container,
.faq.container,
.contact.container,
.footer.container,
.header.container {
  max-width: 768px !important;
}

.offcanvas {
  width: 200px !important;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 576px) {
  .navbar-nav img {
    display: block;
    left: 0;
    width: 70px;
  }

  .homepage img.header-img {
    display: block
  }

  .homepage>.container:first-child {
    background: transparent;
  }

  .homepage img.logo {
    display: none;
  }

  .homepage p.h5 {
    font-size: 1rem;
    margin-bottom: 0.3rem !important;
  }

  .homepage h6,
  .homepage a {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .homepage > .container:first-child p {
    font-size: 1.25rem;
  }

  .homepage h6,
  .homepage a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .homepage>.container:first-child p {
    font-size: 1.5rem;
  }

  .homepage h6,
  .homepage a {
    font-size: 1.25rem;
  }
}
