#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

[data-view="sofas"] [data-link="sofas"],
[data-view="tables"] [data-link="tables"],
[data-view="mattresses"] [data-link="mattresses"] {
  text-decoration: underline !important;
}

.navbar-nav img,
.homepage img.header-img {
  display: none;
}

.homepage > .container:first-child {
  background-color: rgb(255, 252, 240);
}

.about img {
  object-fit: cover;
}

.about.container,
.faq.container,
.contact.container,
.footer.container,
.header.container,
.login.container,
.new-entry.container {
  max-width: 768px !important;
}

.offcanvas {
  width: 200px !important;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 576px) {
  .navbar-nav img {
    display: block;
    left: 0;
    width: 70px;
  }

  .homepage img.header-img {
    display: block
  }

  .homepage>.container:first-child {
    background: transparent;
  }

  .homepage img.logo {
    display: none;
  }

  .inventory .item {
    border: 1px solid rgba(0, 0, 0, 0.195);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 .25rem 0.5rem rgba(0, 0, 0, .15) !important;
  }

  .homepage p.h5 {
    font-size: 1rem;
    margin-bottom: 0.3rem !important;
  }

  .homepage h6,
  .homepage a {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .homepage > .container:first-child p {
    font-size: 1.25rem;
  }

  .col-md-6 {
    width: 45%;
  }

  .homepage h6,
  .homepage a {
    font-size: 1rem;
  }

  .inventory.container h2 {
    font-size: 1.35rem;
  }
}

@media only screen and (min-width: 992px) {
  .homepage>.container:first-child p {
    font-size: 1.5rem;
  }

  .col-lg-4 {
    width: 30%;
  }

  .homepage h6,
  .homepage a {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1200px) {
  .col-xl-3 {
    width: 23%;
  }
}
